form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bi-arrow-left{
    position: absolute;    
    font-size: 1.5rem;    
    margin-top: -5%;
    margin-left: -35%;
}
.card.bg-dark.text-white {
    min-width: 250px;
}

.form-outline {
    width: 80%;
}

.icons {
    display: flex;
    width: 100%;
    justify-content: center;
}

i.bi-person-plus-fill {
    font-size: 2.5rem;    
}

.form-control {
    height: calc(1.1em + 0.7rem + 2px);
}

button.btn {
    display: flex;
    flex-wrap: nowrap;    
    margin-top: 5%;
    width: 50%;
    justify-content:center;
    align-items:center;
}
